@import url('../components/pTSans/pTSans.css');

/* Jumbotron */
.jumbotron {
  background-color: #000;
  color: #a9a9a9;
}

/* Main */
body {
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #dbdbdb;
  background-color: #4f4f4f;
}

/* Navbar & Navmenu*/
.navbar-main .navbar-header {
  font-weight: bold;
}

.navbar { 
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.navbar-default,
.navmenu-default {
  background-image: none !important;
  background-color: #2E2E2E;
  border: none;
}
.navbar-contextual { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2); }

.navbar-default .navbar-brand { color: #a9a9a9; }
.navbar-default a.navbar-brand:focus,
.navbar-default a.navbar-brand:hover {
  color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #4f4f4f; }
.navbar-default .navbar-toggle { border-color: #4f4f4f; }

.navbar-contextual .navbar-toggle:focus,
.navbar-contextual .navbar-toggle:hover {
  background-color: #000;
}
.navbar-contextual .navbar-brand:hover {
  color: #a9a9a9;
}

.navbar-main { background-color: #000; }
.navbar-main .navbar-toggle:focus,
.navbar-main .navbar-toggle:hover {
  background-color: #2E2E2E;
}

a,
.navbar-default .navbar-nav>li>a,
.navmenu-default .navmenu-nav>li>a {
  color: #A9A9A9;
}

a:focus,
a:hover,
a:active,
.navbar-default .navbar-nav>li>a:hover,
.navmenu-default .navmenu-nav>li>a:hover {
   color: #fff;
   text-decoration: none;
   outline: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navmenu-default .navmenu-nav>.open>a,
.navmenu-default .navmenu-nav>.open>a:focus,
.navmenu-default .navmenu-nav>.open>a:hover {
    color: #fff;
    background-color: #3c3c3c;
    background-image: none !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:focus,
.navmenu-default .navmenu-nav>.active>a:hover {
    color: #fff;
    background-color: #4f4f4f;
    background-image: none !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #2e2e2e;
}

/* first/last picture_nav_button */
#navigationButtons>span { color: #3c3c3c; }

/* Dropdowns */
.dropdown-menu>li>a {
    color: #4f4f4f;
    outline: none !important;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #fff;
    background-color: #2e2e2e;
    background-image: none !important;
}
@media (max-width: 767px) {
  .dropdown-menu .divider { background-color: #3c3c3c; }
  .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #2e2e2e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #a9a9a9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #fff;
  }
}

/* Buttons */
.btn-default { outline: none !important; }

/* Panels */
.panel { background-color: #4f4f4f }
.panel-primary { border-color: #2e2e2e; }
.panel-primary>.panel-heading {
  color: #fff;
  background-color: #2e2e2e;
  border-color: #2e2e2e;
  background-image: none !important;
}

/* Wells */
.well {
  background-color: #3c3c3c;
  border-color: #000 !important;
  background-image: none !important;
}

/* Sidebar */
#sidebar .handle, #sidebar .info {
  color: #a9a9a9;
  background-color: #2e2e2e;
  border-top: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
  border-left: 1px solid #2e2e2e;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
#sidebar .info a { color: #fff; }

/* Calendar */
@media screen and (max-width: 767px) {
  #calendar-table.table-responsive {
    border: 1px solid #3c3c3c;
  }
}
#calMonth>thead>tr>th {
  border-bottom: 2px solid #3c3c3c;
}

/* Pagination */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #a9a9a9;
  border: 1px solid #000;
}
.pagination>li>a,
.pagination>li>span {
  color: #dbdbdb;
  background-color: #2e2e2e;
  border: 1px solid #000;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #2e2e2e;
  background-color: #a9a9a9;
  border: 1px solid #000;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  background-color: #2e2e2e;
  border: 1px solid #000;
}

/* Tabs */
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #2e2e2e;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #2e2e2e;
    border: 1px solid #2e2e2e;
}
.nav-tabs>li>a {
    background-color: #3c3c3c;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #a9a9a9;
    cursor: default;
    background-color: #2e2e2e;
    border: 1px solid #2e2e2e;
    border-bottom-color: transparent;
}
@media (max-width: 767px) {
  .nav-tabs.nav-justified>li>a {
    border-bottom: none;
  }
}

/*
 * Plugin fixlets
 */

/* Openstreetmap Plugin fixlets */
.leaflet-control a { color: #4f4f4f !important; }
